# Base
.venv/
__pycache__/
*.pyc
.env
typescript
script.py
.qwen/
CONTEXT.md
raw/run_log.json
data_urbania.json
raw/
extractor_v2.py
urbania.py

# Importante: No ignoramos la carpeta 'data/' porque 
# ahora contiene nuestros resúmenes matemáticos seguros.
